<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{display/header :: header}"></div>
<h2 style="text-align: center">Customer</h2>

<form class="d-flex" th:action="@{/customer}" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" name="valueSearch" aria-label="Search"
           style="width: 300px;margin: auto">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">STT</th>
        <th scope="col">Name</th>
        <th scope="col">BirthDay</th>
        <th scope="col">Gender</th>
        <th scope="col">CCCD</th>
        <th scope="col">Phone</th>
        <th scope="col">Customer Type</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>

    </tr>
    </thead>
    <tbody>
    <form th:action="@{/customer/remove}" method="post">
        <tr th:each="c,status:${customerPage}">
            <th scope="row" style="font-size: 14px" th:text="${status.index + 1}"></th>
            <td style="display: none" th:text="${c.id}"></td>
            <td style="font-size: 14px" th:text="${c.name}"></td>
            <td style="font-size: 14px" th:text="${c.birthDay}"></td>
            <td style="font-size: 14px" th:text="${c.gender ? 'Nam' : 'Nữ'}"></td>
            <td style="font-size: 14px" th:text="${c.idCard}"></td>
            <td style="font-size: 14px" th:text="${c.phone}"></td>
            <td style="font-size: 14px" th:text="${c.customerType.name}"></td>
            <td style="font-size: 14px" th:text="${c.email}"></td>
            <td style="font-size: 14px" th:text="${c.address}"></td>
            <td colspan="2">
                <a th:href="@{customer/update/__${c.getId()}__}">
                    <button type="button" class="btn btn-primary">Update</button>
                </a>
                |
                <input type="checkbox" th:value="${c.id}" name="idRemove"></td>
        </tr>
        <button type="submit" id="button-remove" style="display: none">remove</button>
    </form>

    </tbody>
</table>
<a th:href="@{/customer/add}">
    <button type="button" class="btn btn-primary">Add</button>
</a>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalRemove">Remove
</button>
<!-- Modal Remove -->
<div class="modal fade" id="exampleModalRemove"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabelRemove">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <h3>Xóa khách hàng </h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <label for="button-remove"> Remove </label>
            </div>
        </div>
    </div>
</div>
<div id="paginate">
    <a th:if="${customerPage.hasPrevious()}" th:href="@{/customer(page = ${customerPage.number - 1})}"></a>
    <span th:text="${customerPage.number + 1}"></span>
    <span th:text="${customerPage.totalPages}"></span>
    <a th:if="${customerPage.hasNext()}" th:href="@{/customer(page = ${customerPage.number + 1})}"></a>
</div>
</body>
</html>
