<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img id="img-of-the-day" width="200" height="200">
<form th:object="${ImageOfTheDay}" method="post">

    <select th:field="*{scoringScale.idSco}" }>
        <option th:each="scor : ${listScor}" th:value="${scor.idSco}" th:text="${scor.name}"></option>
    </select>
    <p>Author:</p>
    <input type="text" th:field="*{author}">
    <p>Feedback:</p>
    <textarea th:field="*{feedback}">
    </textarea><br>
    <button>Comment</button>
</form>
<p th:if="${message}">
    <span th:text="${message}"></span>
</p>
<hr>
<div th:each="l:${list}">
    +<span th:text="${l.scoringScale.getName()}" style="padding-right:20px"></span><span th:text="${l.feedback}"></span><br>
    <span th:text="${l.likeComment}"></span> Like <a th:href="@{/image-of-the-day/likeComment/__${l.getId()}__}">
    <button>Like</button>
</a>
    <hr>
</div>
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=iDvDpTOcwFDNEtM8x0N8fZLV94XKeR8SvwopuCKd\n';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
</body>
</html>