<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /* CSS styles here */
        label {
            font-weight: bold;
        }

        input[type="text"], textarea {
            width: 300px;
            padding: 5px;
            border: 1px solid #ccc;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<form th:object="${blogDto}" action="/blog/create" method="post">
    <label for="title">Title Blog:</label>
    <input type="text" th:field="*{title}" id="title"><br>

    <label for="description">Description Blog:</label>
    <input type="text" th:field="*{description}" id="description"><br>

    <label for="category">Category:</label>
    <select th:field="*{category}" id="category">
        <option th:each="cgrList:${categoryList}" th:value="${cgrList.idCategory}" th:text="${cgrList.name}"></option>
    </select><br>

    <label for="user">User:</label>
    <select th:field="*{idUser}" id="user">
        <option th:each="u:${user}" th:value="${u.idUser}" th:text="${u.name}"></option>
    </select><br>

    <label for="content">Content</label><br>
    <textarea rows="4" cols="40" th:field="*{content}" id="content"></textarea>

    <button>Create Blog</button>

</form>
</body>
</html>