#header {
    width: 100%;
    height: 10%;
    background-color: #0082f5;
}

#header-one {
    text-align: center;
    height: 50%;
}

#header-two {
    height: 50%;
}

.nav-link {
    position: relative;
    bottom: 10px;
    margin-left: 30px;
    font-size: 23px;
    color: black;
}

.nav-link:hover {
    background-color: aqua;
    border-radius: 15px;
}

#main {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 87%;
}

#main {
    text-decoration: none;
    color: black;
}

#main-ads-left {
    display: inline;
    float: left;
    width: 12%;
    height: 100%;
    /*background-color: darkgray;*/
}

#main-ads-right {
    display: inline;
    float: right;
    width: 20%;
    height: 100%;
    /*background-color: darkgray;*/
}

#main-content {
    position: absolute;
    left: 12%;
    right: 20%;
    height: 100%;
}
#icon-main-content {
    display: flex;
    align-items: center;
}

#icon-comment-main-content {
    margin-left: 10px;
}

#icon-view-main-content {
    margin-left: 10px;

}
#main-content a{
    text-decoration: none;
    color: black;
}
#main-content a:hover{
    text-decoration: none;
    color: #0082f5;
}

.title-main-content{
    text-align: center;
}
#text-content-blog{
    text-indent: 20px;

}
