<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{header :: header}"></div>
<div class="container">
    <h1>Update Khách hàng</h1>
    <br>
    <form th:object="${customer}" method="post" th:action="@{/customer/update}">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Name" th:name="name" th:id="name"
                       th:value="${customer.name}">
                <input type="text" style="display: none" class="form-control" th:name="id" th:id="id" placeholder="id"
                       th:value="${customer.id}">
            </div>
        </div>
        <br>

        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <select th:field="*{customerType}">
                    <option th:each="c:${listTypeCustomer}" th:text="${c.name}" th:value="${c.id}"></option>
                </select>
            </div>
        </div>
        <br>
    </form>
</div>

</body>
</html>