<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body>

<div th:insert="~{ display/header :: header}"></div>
<h2 style="text-align: center">Employee</h2>
<form class="d-flex" th:action="@{/employee}" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" name="valueSearch" aria-label="Search"
           style="width: 300px;margin: auto">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">STT</th>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Salary</th>
        <th scope="col">CCCD</th>
        <th scope="col">Birthday</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Position</th>
        <th scope="col">Education</th>
        <th scope="col">Division</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <form th:action="@{/employee/remove}" method="post">
        <tr th:each="e,status:${employeePage}">
            <th scope="row" th:text="${status.index + 1}" style="font-size: 14px"></th>
            <td >KH-<span th:text="${e.id}" style="font-size: 14px"></span></td>
            <td th:text="${e.name}" style="font-size: 14px"></td>
            <td th:text="${e.salary}" style="font-size: 14px"></td>
            <td th:text="${e.idCard}" style="font-size: 14px"></td>
            <td th:text="${e.birthDay}" style="font-size: 14px"></td>
            <td th:text="${e.phone}" style="font-size: 14px"></td>
            <td th:text="${e.email}" style="font-size: 14px"></td>
            <td th:text="${e.address}" style="font-size: 14px"></td>
            <td th:text="${e.position.name}" style="font-size: 14px"></td>
            <td th:text="${e.educationDegree.name}" style="font-size: 14px"></td>
            <td th:text="${e.division.name}" style="font-size: 14px"></td>
            <td colspan="2">
                <a th:href="@{/employee/update/__${e.getId()}__}">
                    <button type="button" class="btn btn-primary" >Update</button>
                </a>
                |
                <input type="checkbox" th:value="${e.id}" name="idRemove"></td>
        </tr>
        <button type="submit" style="display: none" id="button-remove"></button>
    </form>
    </tbody>
</table>
<a th:href="@{/employee/add}">
    <button type="button" class="btn btn-primary">Add</button>
</a>

<!-- Modal remove -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalRemove">Xóa</button>
<div class="modal fade" id="exampleModalRemove"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabelRemove">Modal Remove</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <h3>Xóa nhân viên</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <label for="button-remove">
                    Remove
                </label>
            </div>
        </div>
    </div>
</div>


<div id="paginate">
    <a th:if="${employeePage}"
       th:href="@{/employee(page = ${employeePage.number - 1},valueSearch = ${valueSearch})}">Previous</a>
    <span th:text="${employeePage.number + 1}"></span>
    /<span th:text="${employeePage.totalPages}"></span>
    <a th:if="${employeePage}" th:href="@{/employee(page = ${employeePage.number + 1},valueSearch = ${valueSearch})}">Next</a>
</div>
</body>
</html>
