<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body>

<div th:insert="~{ display/header :: header}"></div>
<h2 style="text-align: center">Service</h2>
<form class="d-flex" th:action="@{/service}" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" name="valueSearch" aria-label="Search"
           style="width: 300px;margin: auto">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">STT</th>
        <th scope="col">Name</th>
        <th scope="col">Area</th>
        <th scope="col">cost</th>
        <th scope="col">Max People</th>
        <th scope="col">Rent Type</th>
        <th scope="col">Service Type</th>
        <th scope="col">Standard Room</th>
        <th scope="col">Description Convenience</th>
        <th scope="col">Pool Area</th>
        <th scope="col">Number Of Floors</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <form th:action="@{/employee/remove}" method="post">
        <tr th:each="e,status:${servicePage}">
            <th scope="row" th:text="${status.index + 1}" style="font-size: 14px"></th>
            <td th:text="${e.id}" style="display: none"></td>
            <td th:text="${e.name}" style="font-size: 14px"></td>
            <td th:text="${e.area}" style="font-size: 14px"></td>
            <td th:text="${e.cost}" style="font-size: 14px"></td>
            <td th:text="${e.maxPeople}" style="font-size: 14px"></td>
            <td th:text="${e.rentType.name}" style="font-size: 14px"></td>
            <td th:text="${e.serviceType.name}" style="font-size: 14px"></td>
            <td th:text="${e.standardRoom}" style="font-size: 14px"></td>
            <td th:text="${e.descriptionConvenience}" style="font-size: 14px"></td>
            <td th:text="${e.poolArea}" style="font-size: 14px"></td>
            <td th:text="${e.numberOfFloors}" style="font-size: 14px"></td>

            <td colspan="2">
                <a th:href="@{/service/update/__${e.getId()}__}">
                    <button type="button" class="btn btn-primary">Update</button>
                </a>
                |
                <input type="checkbox" th:value="${e.id}" name="idRemove"></td>
        </tr>
        <button type="submit" style="display: none" id="button-remove"></button>
    </form>
    </tbody>
</table>


<!-- Modal add -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalAdd">Add</button>
<div class="modal fade" id="exampleModalAdd"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabelAdd">Modal Add</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <a th:href="@{/service/add_villa}">
                    <button type="button" class="btn btn-primary">Add Villa</button>
                </a>

                <a th:href="@{/service/add_house}">
                    <button type="button" class="btn btn-primary">Add House</button>
                </a>

                <a th:href="@{/service/add_room}">
                    <button type="button" class="btn btn-primary">Add Room</button>
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal remove -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalRemove">Xóa</button>
<div class="modal fade" id="exampleModalRemove"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabelRemove">Modal Remove</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <h3>Xóa nhân viên</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <label for="button-remove">
                    Remove
                </label>
            </div>
        </div>
    </div>
</div>
<div id="paginate">
    <a th:if="${servicePage.hasPrevious()}"
       th:href="@{/service(page = ${servicePage.number - 1},valueSearch = ${valueSearch})}">Previous</a>
    <span th:text="${servicePage.number + 1}"></span>
    /<span th:text="${servicePage.totalPages}"></span>
    <a th:if="${servicePage.hasNext()}"
       th:href="@{/service(page = ${servicePage.number + 1},valueSearch = ${valueSearch})}">Next</a>
</div>

</body>
</html>