<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="display/header :: header"></div>
<div class="container">
    <h1>Thêm Villa </h1>
    <br>
    <form th:object="${service}" method="post" th:action="@{/service/update}">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" th:name="name" th:id="name" placeholder="Name"
                       th:value="${service.name}">
                <input type="text" style="display: none" class="form-control" id="id" placeholder="id" th:name="id"
                       th:id="id" th:value="${service.id}">
            </div>
        </div>
        <br>

        <div class="form-group row">
            <label for="area" class="col-sm-2 col-form-label">Area</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="area" placeholder="Area" th:name="area" th:id="area"
                       th:value="${service.area}">
            </div>
        </div>
        <br>

        <div class="form-group row">
            <label for="cost" class="col-sm-2 col-form-label">Cost</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="cost" placeholder="Cost" th:name="cost" th:id="cost"
                       th:value="${service.cost}">
            </div>
        </div>
        <br>

        <div class="form-group row">
            <label for="maxPeople" class="col-sm-2 col-form-label">Max People</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="maxPeople" placeholder="Max People" th:name="maxPeople"
                       th:id="maxPeople"
                       th:value="${service.maxPeople}">
            </div>
        </div>
        <br>

        <div class="form-group row">
            <label for="maxPeople" class="col-sm-2 col-form-label">Rent Type</label>
            <div class="col-sm-10">
                <select th:field="*{rentType}">
                    <option th:each="r : ${rentType}" th:text="${r.name}" th:value="${r.id}"></option>
                </select>
            </div>
        </div>
        <br>

        <input type="text" th:value="1" th:name="serviceType" th:id="serviceType" style="display: none">

        <div class="form-group row">
            <label for="standardRoom" class="col-sm-2 col-form-label">Standard Room</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="standardRoom" placeholder="Standard Room"
                       th:name="standardRoom" th:id="standardRoom"
                       th:value="${service.standardRoom}">
            </div>
        </div>
        <br>

        <div class="form-group row">
            <label for="descriptionConvenience" class="col-sm-2 col-form-label">Description Convenience</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="descriptionConvenience" th:name="descriptionConvenience"
                       th:id="descriptionConvenience"
                       placeholder="Description Convenience" th:value="${service.descriptionConvenience}">
            </div>
        </div>
        <br>

        <div class="form-group row">
            <label for="poolArea" class="col-sm-2 col-form-label">Pool Area</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="poolArea" th:name="poolArea" th:id="poolArea"
                       placeholder="Pool Area"
                       th:value="${service.poolArea}">
            </div>
        </div>
        <br>

        <div class="form-group row">
            <label for="numberOfFloors" class="col-sm-2 col-form-label">Number Of Floors</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="numberOfFloors" placeholder="Number Of Floors"
                       th:name="numberOfFloors" th:id="numberOfFloors"
                       th:value="${service.numberOfFloors}">
            </div>
        </div>
        <br>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>