<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/css/listCart.css'}">
</head>
<body>
<div th:insert="~{product/header :: header}"></div>

<div class="container">
    <div class="row">
        <table class="table" th:if="${cartSize != 0}">
            <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>
                    <label th:for="removeProducts">Tick all</label>
                    <input type="checkbox" style="display: inline" id="removeProducts">
                </th>
            </tr>
            </thead>
            <tbody>
            <form th:action="@{/shop/remove-cart}" method="post">
                <tr th:each="productMap:${cart.productMap}">
                    <td th:text="${productMap.key.name}"></td>
                    <td>
                        <a th:href="@{/shop}">
                            <img th:src="@{'/img/' + ${productMap.key.getImage()}}" style="width: 50px ; height: 60px">
                        </a>
                    </td>
                    <td th:text="${productMap.key.price}"></td>
                    <td>
                        <a th:href="@{/shop/increase/__${productMap.key.getId()}__}"><button type="button" >+</button></a>
                        <span id="valueQuantity" th:text="${productMap.value}"></span>
                        <a th:href="@{/shop/diminish/__${productMap.key.getId()}__}"><button type="button" >-</button></a>
                    </td>
                    <td>
                        <input type="checkbox" class="removeProducts" name="id"
                               th:value="${productMap.key.id}">
                        <button style="display: none" id="removeSubmit"></button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <label for="removeSubmit" id="buttonRemove"> remove </label>
                    </td>
                </tr>
                <tr>
                    <td><strong>Tổng thanh toán </strong>  : <span th:text="${total}"></span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </form>
            </tbody>
        </table>
        <div class="alert alert-warning" appRole="alert" th:unless="${cartSize != 0}">
            Cart Empty.
        </div>
    </div>
</div>
<script>
    document.getElementById("removeProducts").addEventListener("change", function () {
        let checkBox = document.getElementsByClassName("removeProducts")
        for (let i = 0; i < checkBox.length; i++) {
            checkBox[i].checked = this.checked;
        }
    });
</script>

</body>
</html>